

{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html{
  font-weight:300;
  font-size:20px;
  text-rendering:optimizeLegibility;
	}
.logo{
  height:75px;
  width:auto;
  float:left;
  border-radius:70%;
}
.row{
  max-width:auto;
  margin:0 auto;
}
.main-nav{
  float:right;
  list-style:none;
  margin-top:40px;
  margin-block-end: 0em;
}
.main-nav li{
  display:inline-block;
  margin-right:40px;
}
.main-nav li a:link,
.main-nav li a:visited{
  padding:8px 0;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  font-size:15px;
  border-bottom:2px solid transparent;
  transition:border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
  border-bottom:2px solid #e67e22;
}


.bodySec{
    
}
.footerSec{
    
}



/*---------------------------Button--------------------------------------------------*/

.btn-full{
    position: fixed;
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #e44b5f;
    color: white;
    text-decoration: none;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    border-radius: 100px;
    transition: background-color 0.3s,border 0.5s,color 0.5s;
}
.btn:hover{
    background-color: #e44b88;
}

.btn-add-cart {	
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid blue;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.5s,border 0.5s,color 0.5s;
    background-color: blue;
    cursor:pointer;
    
}

/*---------------------------Header--------------------------------------------------*/
.headerText{
    font-size:25px;
    position: absolute;
    width: 1140px;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

header{
    color: #fff;    
    text-align: center;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)),url("../resource/assets/cakesAndBakes.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1{
    margin: 0px;
    color: #fff;
    font-size: 110%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

/*-------------------------------------------bodySec-----------------------------------------------------*/
.cake-list{
    width: 200px;
    display:flex;
    font-size: 1.5rem;
    
}
.cake-details1{
text-align: center;
}
img {
    height:100px;
    width: 200px;
    border-radius: 10%;
    margin-right: 10px;
}
